<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input
        type="text"
        ngModel
        name="userName"
        id="userName"
        placeholder="Enter your user name"
        class="form-control mb-3"
      />
      <input
        type="password"
        ngModel
        name="userPassword"
        id="userPassword"
        placeholder="Enter your password"
        class="form-control mb-3"
      />
      <input
        type="submit"
        value="Login"
        class="form-control brn btn-outline-primary rounded-0"
      />
    </form>
  </div>
</div>
